@import 'tachyons';

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  background-image: linear-gradient(-180deg, #c5de8b 0%, #fd5871 100%);
  font-family: 'Space Mono', monospace;
}

.container {
  height: 100vh;
  margin: 0 auto;
}

.button {
  color: #fd5871;
  font-weight: bold;

  &:focus {
    outline: 0;
  }

  &:active {
    outline: 0;
    position: relative;
    top: .25rem;
  }
}

.order {
  animation: fade .5s;
  animation-iteration-count: 1;
  animation-timing-function: easeinSine;
}
