@import "tachyons";

body {
  font-family: Helvetica;
  background-image: linear-gradient(-180deg, #C5DE8B 0%, #FD5871 100%);
}


.container {
  margin: 0 auto;
}

.button {
  color: #FD5871;
  font-weight: bold;
}